.contacts {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.contact-info {
  padding: 8px;
}

.contact-info-title {
  margin-right: 8px;
}

.welcome-card {
  width: calc( 100% - 200px);
  margin-left: 200px;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
}

.gap {
  margin: 0 40%;
}
