<div class="height-fix" style="border:1px solid transparent;">
  <div class="skills-container center-sides">
      <nav class="skill-color-override navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">DanCan</a>
        <button #skillNav class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarTOP" aria-controls="navbarTOP" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarTOP" >
          <!-- <ng-container *ngFor="let skill of skills"> -->
            <navigate-skill [offset]="280" (navigationClick)="collapse()" [text]="'skill'"></navigate-skill>
          <!-- </ng-container> -->
        </div>
      </nav>
  </div>
</div>
<div *ngIf="showHeader" class="skills-header">
  <div class="center-sides">
    <nav class="skill-color-override navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">DanCan</a>
      <button #skillNavFloat class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarColor03">
        <!-- <ng-container *ngFor="let skill of skills"> -->
        <navigate-skill [offset]="200" (navigationClick)="collapse()" [text]="'skill'"></navigate-skill>
        <!-- </ng-container> -->
      </div>
    </nav>
  </div>
</div>
