navigate-skill{
	display: inline-block;
}

@media (max-width: 991px) {
	navigate-skill {
		margin: 16px;
	}
}

.skills-container {
  margin: 8px;
  z-index: 2;
}

.center-sides {
	padding: 0 2rem;
}

.skill {
  display: inline-block;
  margin: 8px;
  padding: 8px;
  cursor: pointer;
}

.skills-header {
	position: fixed;
  top: 0;
  left: 0;
  background-color: #fafafa;
  z-index: 2;
  width: 100%;
  padding: 8px;
}


.fake-link:hover {
    color: #fff !important;
}

.fake-link {
    color: rgba(255, 255, 255, 0.5) !important;
    text-decoration: none;
    background-color: transparent;
}

.skill-color-override {
  border-style: none;
}

.dropdown-link,
.nav-link {
  cursor: pointer;
}
