.contacts {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-info {
  padding: 8px;
}

.contact-info-title {
  margin-right: 8px;
}

.welcome-card {
  width: calc( 100% - 200px);
  margin-left: 200px;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
}

.gap {
  margin: 0 40%;
}

.project-container {
  margin: 0 0;
}

.project-vertical {
  text-align: left;
  padding-top: 8px;
}

.project-btn-group {
  width: 100%;
  margin-bottom: 16px;
  
}

.project-title {
  margin-top: 64px
}

.project-skill {
  padding-right: 16px;
  padding-left: 16px;
}

.btn {
  white-space: normal;
}

.project-row {
  margin-top: 24px;
  color: black;
}

.tall {
  margin-top: -64px;
  margin-bottom: -80px;
}

.project-header {
    border-color: #115977 !important;
    background-color: white !important;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    min-width: 400px;
}

.animate {
  transition: all 0.3s;
}

.btn-border-rev {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  color: #a6a6a6;
  
}
.btn-border-rev:before {
  width: 0;
  height: 100%;
  border-width: 1px 0 1px 0;
  top: -1px;
  right: 0;
}

.btn-border-rev:after {
  width: 100%;
  height: 0;
  border-width: 0 1px 0 1px;
  bottom: 0;
  left: -1px;
  transition-delay: 0.05s;
}

.btn-border-rev:before,
.btn-border-rev:after {
  content: '';
  border-style: solid;
  position: absolute;
  z-index: 5;
  border-radius: 3px;
  box-sizing: content-box;
}

.btn-codepen {
  line-height: 35px;
  margin: 2px;
  padding: 0 15px;
  font-size: 12px;
  position: relative;
  opacity: .999;
  border-radius: 3px;
  width: 100%;
}

.btn-border-rev.btn-blue:hover {
    color: #3498db;
}
.btn-border-rev:hover:before {
  width: 100%;
}

.btn-border-rev:hover:after {
  height: 100%;
}

.btn-border-rev:hover {
    background-color: transparent;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
  margin-right: 8px;
}

.player {
  list-style: none;
  margin-left: -16px;
}

.side-projects-fixed {
  position: fixed;
  width: 100%;
  top: 100px;
  background: white;
  z-index: 1;
}

.course-projects-header {
  z-index: 1;
}

.course-projects-fixed {
  position: fixed;
  width: 100%;
  top: 100px;
  background: white;
  z-index: 1;
}

/* boostrap overrides */
.card-body {
  padding-top: .8em;
  padding-bottom: .8em;
}