<div #sideProjectElm style="border:1px solid transparent;">
  <div class="card text-black bg-info mb-3 project-header" >
    <div class="card-body">
      <h4 class="card-title">Global Game Jam <span style="font-size:14px">Projects</span></h4>
    </div>
  </div>
</div>
<div *ngIf="sideProjectsFixed" [style.top.px]="_navHeight" class="card text-black bg-info mb-3 project-header side-projects-fixed" >
  <div class="card-body">
    <h4 class="card-title">Global Game Jam <span style="font-size:14px">Projects</span></h4>
  </div>
</div>

<div class="side-projects" style="border:1px solid transparent;">
  <project-component [projects]="sideProjects"></project-component>
</div>

<div #courseProjectElm style="border:1px solid transparent;">
  <div class="card text-black bg-info mb-3 project-header course-projects-header">
    <div class="card-body">
      <h4 class="card-title">Course <span style="font-size:14px">Projects</span></h4>
    </div>
  </div>
</div>
<div *ngIf="courseProjectsFixed" [style.top.px]="_navHeight" class="card text-black bg-info mb-3 project-header course-projects-fixed">
  <div class="card-body">
    <h4 class="card-title">Course <span style="font-size:14px">Projects</span></h4>
  </div>
</div>
<div class="course-projects" style="border:1px solid transparent;">
  <project-component [projects]="courseProjects" [carousel-background]="'black'"></project-component>
</div>