<div class="skills-container">
    <nav class="skill-color-override navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">DanCan</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarTOP" aria-controls="navbarTOP" aria-expanded="true" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarTOP" style="">
        <!-- <ng-container *ngFor="let skill of skills"> -->
          <navigate-skill [text]="'skill'"></navigate-skill>
        <!-- </ng-container> -->
      </div>
    </nav>
</div>
<div *ngIf="showHeader" class="skills-header">
<div class="center-sides">
  <nav class="skill-color-override navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">DanCan</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="true" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarColor03" style="">
      <!-- <ng-container *ngFor="let skill of skills"> -->
      <navigate-skill [text]="'skill'"></navigate-skill>
      <!-- </ng-container> -->
    </div>
  </nav>
  </div>
</div>
