<div class="skills-container">
<!-- <<<<<<<
  <div *ngFor="let _item of contactsService.skills">
    <h2 [innerHTML]="_item[0]"></h2>
    <div>
      <h3>Skills</h3>
      <span [innerHTML]="_item[1]"></span>
    </div>
    <div>
      <h3>Frameworks</h3>
      <span [innerHTML]="_item[2]"></span>
    </div>
  </div>
======= -->
    <nav class="skill-color-override navbar navbar-expand-lg navbar-light ">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarTOP" aria-controls="navbarTOP" aria-expanded="true" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarTOP" style="">
        <ng-container *ngFor="let skill of skills">
          <navigate-skill [text]="skill"></navigate-skill>
        </ng-container>
      </div>
    </nav>
</div>
<div *ngIf="showHeader" class="skills-header">
  <nav class="skill-color-override navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="true" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarColor03" style="">
      <ng-container *ngFor="let skill of skills">
      <navigate-skill [text]="skill"></navigate-skill>
      </ng-container>
    </div>
  </nav>
</div>
