<div>
  <div class="height-fix" style="border:1px solid transparent;">
    <div class="jumbotron-fix">
      <div class="">
        <div class="header-content pad-sides">
          <resume-header></resume-header>
          <resume-about></resume-about>
        </div>
        <resume-skills [offsetHeight]="headerContentHeight" (skillHeight)="setSkillHeight($event)"></resume-skills>
      </div>
    </div>
  </div>
  <div class="table-default">
    <div class="container">
      <resume-projects [offsetHeight]="headerContentHeight-skillsHeight" [navHeight]="skillsHeight"></resume-projects>
    </div>
  </div>
  <resume-footer></resume-footer>
</div>
