<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item project-image-container" [class.active]="slide" *ngFor="let _image of images">
      <img class="img-fluid" [attr.src]="_image" [class.d-block]="true" [class.w-100]="true" >
    {{_image}}
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>