  <h3>Projects</h3>
  <div class="card-body">
    <h4 class="card-title">Side Projects</h4>
    <div class="side container" *ngFor="let _project of sideProjects">
      <div id="wrap">
        <a [attr.href]="_project.host ? _project.host : _project.github" [innerHTML]="_project.title"></a>
      </div>
      <div class="date-text" [innerHTML]="_project.dates"></div>
      <p>
        <br>{{_project.description}}
      </p>
      <ul *ngIf="_project.todo">
        <li *ngFor="let _item of _project.todo" [innerHTML]="_item"></li>
      </ul>
      <div class="project-image-container" *ngFor="let _image of _project.images">
        <div style="display:inline-block;">
          <img class="image-restraint img-responsive" [attr.src]="_image">
        </div>
      </div>
    </div>
    <h4 class="card-title">Course Projects</h4>
    <div class="side container" *ngFor="let _project of courseProjects">
      <div id="wrap">
        <a [attr.href]="_project.host ? _project.host : _project.github" [innerHTML]="_project.title"></a>
      </div>
      <div class="date-text" [innerHTML]="_project.dates"></div>
      <p>
        <br>{{_project.description}}
      </p>
      <ul *ngIf="_project.todo">
        <li *ngFor="let _item of _project.todo" [innerHTML]="_item"></li>
      </ul>
      <div class="project-image-container" *ngFor="let _image of _project.images">
        <div style="display:inline-block;">
          <img class="image-restraint img-responsive" [attr.src]="_image">
        </div>
      </div>
    </div>
  </div>

