.contacts {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-info {
  padding: 8px;
}

.contact-info-title {
  margin-right: 8px;
}

.welcome-card {
  width: calc( 100% - 200px);
  margin-left: 200px;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
}

.gap {
  margin: 0 40%;
}

.stack {
  margin-bottom: 16px;
}

.project-vertical {
  text-align: center;
}

.project-btn-group {
  margin-top: 16px;
}

.btn {
  white-space: normal;
}

.project-row {
  margin-bottom: 24px;
}

.project-skills {
  margin-bottom: 32px;
}

.tall {
  margin-top: -64px;
  margin-bottom: -80px;
}
