/* You can add global styles to this file, and also import other style files */
.center-content {
  padding: 2.5% 2.5%;
  width: 100%;
}

.pad-sides {
  padding: 0 2.5%;
}

.gap {
  margin: 0 40%;
}

@media (max-width: 855px) and (min-width: 630px) {
  .contacts {
    width: 515px;
  }
}

@media (max-width: 855px) {

  .biopic {
    display: none;
  }

  .welcome-card {
    margin-left: 0 !important;
    width: 100% !important;
  }
}

@media (max-width: 756px)  {
  .images {
    order: 1;
  }
  .btn {
    min-height: 64px;
  }

  .project-btn-group {
    order: 0;
  }
}

@media (max-width: 575px) {

  .center-sides{
    padding: 0 1rem !important;
  }

  .project-vertical {
    display: flex;
    margin: 0 !important;

  }

  .images {
    order: -1;
  }

}