<ul class="contacts">
  <li class="contact-info" *ngFor="let _contact of contacts">
    <span class="contact-info-title badge badge-secondary">{{_contact.title}}:</span>
    <span>{{_contact.content}}</span>
  </li>
</ul>
<div>
  <img src="assets/images/cropped/me.jpg" class="biopic img-responsive">
  <div class="welcome-card">
    <h2>Welcome!</h2>
    <span class="lead" [innerHTML]="welcomeMessage"></span>
    <div class="center-content">
      <hr class="gap">
    </div>
    <p [innerHTML]="welcomeMessageCallout"></p>
   </div>
</div>

<div style="clear: left;">

